In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Resources/JC-202202-citibike-tripdata.csv')
df1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B7BCBC133222B04A,classic_bike,2022-02-17 11:48:16,2022-02-17 11:58:30,Astor Place,JC077,Journal Square,JC103,40.719282,-74.071262,40.733670,-74.062500,member
1,0F9F1A0F18FD3A22,electric_bike,2022-02-02 08:31:26,2022-02-02 08:38:08,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
2,44B5D106DDB509AC,electric_bike,2022-02-09 14:05:49,2022-02-09 14:10:21,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
3,E1434F258C195DC6,classic_bike,2022-02-08 07:57:44,2022-02-08 08:15:26,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
4,64821879B2659E35,classic_bike,2022-02-07 08:05:28,2022-02-07 08:24:03,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member

In [3]:
print(df1.shape)

(31911, 13)

In [4]:
df2 = pd.read_csv('Resources/JC-202302-citibike-tripdata.csv')
df2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,557150C42CBD584B,classic_bike,2023-02-16 18:05:38,2023-02-16 18:13:47,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743190,-74.040126,40.736982,-74.027781,member
1,9F1B2C0BCD476C66,classic_bike,2023-02-15 19:20:33,2023-02-15 19:27:06,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743222,-74.040081,40.736982,-74.027781,member
2,4A4A29A7C1B54278,classic_bike,2023-02-18 14:58:16,2023-02-18 15:06:15,Mama Johnson Field - 4 St & Jackson St,HB404,12 St & Sinatra Dr N,HB201,40.743140,-74.040041,40.750604,-74.024020,casual
3,BBF4E1D39D41D78C,classic_bike,2023-02-24 15:16:12,2023-02-24 15:24:17,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743187,-74.040179,40.743140,-74.040041,member
4,3CECAA17C4ABBF30,classic_bike,2023-02-16 18:05:02,2023-02-16 18:05:04,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743172,-74.040054,40.743140,-74.040041,member

In [6]:
print(df2.shape)

(51213, 13)

In [8]:
df_full = pd.concat([df1,df2])
df_full.shape

(83124, 13)

In [9]:
df_full.to_csv('citi_bike_data.csv')